.search-display-table {
  width: 90%;
  text-align: left;
  background-color: #fff;
  max-width: 95%;
  padding: 25px;
  border-collapse: collapse;
}
thead {
  color: #91949a;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  font-weight: 500;
}

.table-header-column {
  padding-top: 25px
}

.table-body-column.tweet {
  width: 300px
}
.table-body-column {
  font-size: 13px;
}
.table-body-column.date {
  width: 320px
}

.table-section {
  background-color: #fff;
}
.table-section, .no-result {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
}

pagination-controls{
  align-self: flex-start;
}

.result-page ::ng-deep .ngx-pagination {
  margin-left: 0;
  width: 140px;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  li.pagination-previous.disabled {
    display: none;
  };
  li {
    border: 1px solid #ccc;
  };
  .pagination-next a::after, .pagination-next.disabled::after {
    content: '>';
    margin-left: 0;
  }
}

.no-result-logo {
  width: 70%
}

.no-result h1 {
  font-size: 2rem;
  margin-bottom: 2px;
}


