<!-- Toolbar -->
<nav class="toolbar" role="banner">
  <span>Angular Twitter</span>
    <div class="spacer"></div>
</nav>

<div class="content" role="main">
  <nav class="tab-container">
    <div class="item-title"
      *ngFor="let tabHeader of tabHeaders; let i=index"
      (click)="activeTab = tabHeader"
      [class.active]="activeTab === tabHeader"
      >
      <a class="tab-title"
      (click)="activeTab = tabHeader"
      [class.active]="activeTab === tabHeader"
      >
        {{tabHeader}}
      </a>
    </div>
  </nav>

  <section class="search-body-content">
    <div class="selected-search">
      <p>{{activeTab}}</p>
    </div>
    <app-search-input></app-search-input>
    <app-display-table></app-display-table>
  </section>


</div>




<router-outlet></router-outlet>